* {
  box-sizing: border-box;
}

body {
  background-color: magenta;
}

#time-options {
  position: absolute;
  width: 150px;
  height: 90px;
  border: 3px solid black;
}
  #current-time {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
    font-weight: bold;
    color: white;
  }
  #toggle-plus {
    position: absolute;
    right: 5px;
    top: 3px;
    width: 35px;
    height: 32px;
  }
  #toggle-minus {
    position: absolute;
    right: 5px;
    bottom: 3px;
    width: 35px;
    height: 32px;
  }

#ratio-options {
  position: absolute;
  left: 160px;
  width: 200px;
  height: 90px;
  border: 3px solid black;
  text-align: center;
}
  #ratio-label {
    color: maroon;
    font-weight: bold;
    font-size: 14px;
  }
  #ratio {
    width: 80%;
    position: relative;
    margin-top: 5px
  }
  #ratio::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -7px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  #ratio::-webkit-slider-runnable-track {
    width: 100%;
    height: 4.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  #ratio:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
  #steplist {
    color: black;
  }
  #ratio-val {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: inline-block;
  }

#gridsize-options {
  position: absolute;
  left: 370px;
  width: 200px;
  height: 90px;
  border: 3px solid black;
}
  #toggle-cols {
    position: relative;
    display: block;
    width: 80%;
    height: 25%;
    padding: 5px;
    margin: 0 auto;
  }
  #toggle-rows {
    position: relative;
    top: 50%;
    display: block;
    width: 80%;
    height: 25%;
    padding: 5px;
    margin: 0 auto;
  }


/*MAIN GRID*/
#grid {
  position: absolute;
  top: 100px;
  width: 610px;
  height: 610px;
  border: 10px solid black;
}
  .card-container {
    height: 100%;
    border: 1px solid black;
    float: left;
    perspective: 600px;
  }
  .flashcard {
    position: relative;
    left: 5%;
    top: 25%;
    width: 90%;
    height: 50%;
    border: 1px solid black;
    border-radius: 3px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
    .flashcard.is-flipped {
      transform: rotateY(180deg);
    }
  .card-face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }
  .card-front {
    background-image: url('/assets/indexcard.png');
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    font-family: 'Arial';
  }
  .card-back {
    background-image: url('/assets/indexcard.png');
    border-radius: 3px;
    transform: rotateY(180deg);
    text-align: center;
    font-weight: bold;
    font-family: 'Arial';
  }





/*GRID OPTIONS*/
#reset {
  position: absolute;
  top: 100px;
  left: 630px;
  width: 100px;
  height: 100px;
  border: 5px solid red;
}

#generate {
  position: absolute;
  top: 210px;
  left: 630px;
  width: 100px;
  height: 100px;
  border: 5px solid red;

}