<div id="top-menu">
	<span id="top-label">Dashboard</span>
	<ul class="menu" id="top-nav">
		<li><img src="/assets/dashboard/googleinbox.png" alt=""></img></li>
		<li><img src="/assets/dashboard/help.png" alt=""></img></li>
	</ul>
</div>

<div id="left-menu">

	<div id="user-info">
		<div id="user-avatar">
			<img id="avatar" src="/assets/sample_user.png" alt="">
		</div>
		<div id="user-notifications">
			<span id="user-alert">1 New Message!</span>
			<input type="image" id="refresh-btn" src="/assets/refresh.png"></input>
		</div>
	</div>
	
	<div class="left-container" id="left-first">
		<span class="left-label">Main</span>
		<ul class="left-list" id="first-list">
			<li class="left-item" id="general"><span>General</span></li>
			<li class="left-item" id="settings"><span>Settings</span></li>
		</ul>
	</div>
	
	<div class="left-container" id="left-second">
		<span class="left-label">Style</span>
		<ul class="left-list" id="second-list">
			<li class="left-item" id="color"><span>Color</span></li>
			<li class="left-item" id="font"><span>Font</span></li>
			<li class="left-item" id="notecard"><span>Notecard</span></li>
			<li class="left-item" id="tags"><span>Tags</span></li>
		</ul>
	</div>
	
	<div class="left-container" id="left-third">
		<span class="left-label">Admin</span>
		<ul class="left-list" id="third-list">
			<li class="left-item" id="layout"><span>Layout</span></li>
			<li class="left-item" id="blog"><span>Blog</span></li>
			<li class="left-item" id="shortcodes"><span>Shortcodes</span></li>
			<li class="left-item" id="portfolio"><span>Portfolio</span></li>
			<li class="left-item" id="backup"><span>Backup</span></li>
		</ul>
	</div>

	<div class="left-container" id="left-fourth">
		<ul class="left-list" id="fourth-list">
			<li><img src="/assets/headphones.png" alt=""></li>
			<li><img src="/assets/apple_watch.png" alt=""></li>
		</ul>
	</div>

</div>

<div id="dashboard-main">
	<div id="decks">
	
	  <span id="decks-label">Decks</span>
		
	  <!-- New Deck Form --> 
	  <div id="create-deck-container">
	  	  <input id="deck-close" type="image" alt="" src="/assets/dashboard/red_x_button.png" onClick="closeForm()" />
		  <label id="cdf-label" for="create-deck-form">Add New Deck</label>
		  <form id="create-deck-form" onSubmit="return deckSubmit(this);">
			  <label for="deck-title">Title</label>
			  <input id="deck-title" type="text" name="title" maxlength="20" required/>
			  <label for="deck-native">Native</label>
			  <input id="deck-native" type="text" name="native" required/> 
			  <label for="deck-target">Target</label>
			  <input id="deck-target" type="text" name="target" required/>
	
			  <input id="deck-submit" type="submit" value="Submit" />
		  </form>
	  </div>
	  <!-- New Deck Form -->
	  
	  <!-- XHR GET Request will retrieve user's decks and show them here. -->
	  <div id="decks-container">
	  	<ul id="decks-list"></ul>
	  </div>
	  
	  <input id="del-button" type="image" alt="" src="/assets/dashboard/trashcan_icon.ico" onClick="deleteDecks()">
	  <input id="edit-button" type="image" alt="" src="/assets/dashboard/edit_icon.png" onClick="editDecks()">
	  <input id="new-button" type="image" alt="" src="/assets/dashboard/new_icon.png" onClick="openForm()">
	
	</div>


	<div id="statistics">

		<span id="statistics-label">Statistics</span>

		<div id="total-time" class="section">
			<div id="clock-rim" class="clock">
			  <div id="clock-face" class="clock">
			    <div id="notch-container" class="clock"></div>
			    <div id="hour" class="clock"></div>
			    <div id="minute" class="clock"></div>
			    <div id="second" class="clock"></div>
			    <div id="center" class="clock"></div>
			  </div>
			</div>
		</div>

		<div id="acquired-words" class="section">

			<div class="circle circle-rim">

				<div class="arc words-arc-start"></div>
				<div class="arc words-arc-end"></div>

				<div class="circle circle-face" id="words-face">
					<div class="circle circle-container">
						<div class="count-helper"><span class="count">187</span></div>
						<div class="label-helper"><span class="count-label">Acquired Words</span></div>
					</div>
				</div>
			</div>

		</div>

		<div id="total-languages" class="section">

			<div class="circle circle-rim">

				<div class="arc lang-arc-start"></div>
				<div class="arc lang-arc-end"></div>

				<div class="circle circle-face" id="lang-face">
					<div class="circle circle-container">
						<div class="count-helper"><span class="count">3</span></div>
						<div class="label-helper"><span class="count-label">Languages</span></div>
					</div>
				</div>
			</div>

		</div>

	</div>
	
</div>

<script type="text/javascript" src="/js/dashboard.js"></script>
<script type="text/javascript" src="/js/clock.js"></script>
