<div id="top-menu">
	<span id="top-label">Dashboard</span>
	<ul class="menu" id="top-nav">
		<li><img src="/assets/dashboard/googleinbox.png" alt=""></img></li>
		<li><img src="/assets/dashboard/help.png" alt=""></img></li>
	</ul>
</div>

<div id="left-menu">

	<div id="user-info">
		<div id="user-avatar">
			<img id="avatar" src="/assets/sample_user.png" alt="">
		</div>
		<div id="user-notifications">
			<span id="user-alert">1 New Message!</span>
			<input type="image" id="refresh-btn" src="/assets/refresh.png"></input>
		</div>
	</div>
	
	<div class="left-container" id="left-first">
		<span class="left-label">Main</span>
		<ul class="left-list" id="first-list">
			<li class="left-item" id="general"><span>General</span></li>
			<li class="left-item" id="settings"><span>Settings</span></li>
		</ul>
	</div>
	
	<div class="left-container" id="left-second">
		<span class="left-label">Style</span>
		<ul class="left-list" id="second-list">
			<li class="left-item" id="color"><span>Color</span></li>
			<li class="left-item" id="font"><span>Font</span></li>
			<li class="left-item" id="notecard"><span>Notecard</span></li>
			<li class="left-item" id="tags"><span>Tags</span></li>
		</ul>
	</div>
	
	<div class="left-container" id="left-third">
		<span class="left-label">Admin</span>
		<ul class="left-list" id="third-list">
			<li class="left-item" id="layout"><span>Layout</span></li>
			<li class="left-item" id="blog"><span>Blog</span></li>
			<li class="left-item" id="shortcodes"><span>Shortcodes</span></li>
			<li class="left-item" id="portfolio"><span>Portfolio</span></li>
			<li class="left-item" id="backup"><span>Backup</span></li>
		</ul>
	</div>

	<div class="left-container" id="left-fourth">
		<ul class="left-list" id="fourth-list">
			<li><img src="/assets/headphones.png" alt=""></li>
			<li><img src="/assets/apple_watch.png" alt=""></li>
		</ul>
	</div>

</div>

<div id="dashboard-main">
	<div id="decks">
	  <span id="decks-label">Decks</span>

	  <button class="button"><a>Delete</a></button>
	  <button class="button"><a>Edit</a></button>
	  <button class="button"><a>Create</a></button>
	</div>

	<div id="statistics">

		<span id="statistics-label">Statistics</span>

		<div id="total-time" class="section">
			<div id="clock-rim" class="clock">
			  <div id="clock-face" class="clock">
			    <div id="notch-container" class="clock"></div>
			    <div id="hour" class="clock"></div>
			    <div id="minute" class="clock"></div>
			    <div id="second" class="clock"></div>
			    <div id="center" class="clock"></div>
			  </div>
			</div>
		</div>

		<div id="acquired-words" class="section">

			<div class="circle circle-rim">

				<div class="arc words-arc-start"></div>
				<div class="arc words-arc-end"></div>

				<div class="circle circle-face" id="words-face">
					<div class="circle circle-container">
						<div class="count-helper"><span class="count">187</span></div>
						<div class="label-helper"><span class="count-label">Acquired Words</span></div>
					</div>
				</div>
			</div>

		</div>

		<div id="total-languages" class="section">

			<div class="circle circle-rim">

				<div class="arc lang-arc-start"></div>
				<div class="arc lang-arc-end"></div>

				<div class="circle circle-face" id="lang-face">
					<div class="circle circle-container">
						<div class="count-helper"><span class="count">3</span></div>
						<div class="label-helper"><span class="count-label">Languages</span></div>
					</div>
				</div>
			</div>

		</div>

	</div>
	
</div>

<script type="text/javascript" src="/js/clock.js"></script>
