
	<div id="nav">
	  <ul>

	    <div id="loggedIn">
    	    <li><a id="logout-btn" onClick="return logout();">Logout</a></li>
    	    <li><a id="dashboard-btn" href="/dashboard">My Dashboard</a></li>
	  	</div>
		
		<div id="loggedOut">
	    	<li><a id="reg-btn" href="/register">Register</a></li>
	    	<li><a id="login-btn" href="/login">Login</a></li> 
	  	</div>

	  </ul>
	</div>
	
	<!-- User must be logged in to view their decks -->
	<div id="deck-box">
		<span id="deck-box-label"></span>
		<ul id="deck-box-list"></ul>
	</div>
	<!-- Shows beneath dashboard -->
	
	<!-- Login Successful message -->
	<div id="home-login">
		<div id="up-arrow"></div>
		<div id="msg"><span id="msg-text"></span></div>  
	</div>
	<!-- Shows for 4 seconds.. -->

	<div id="time-options">
	  <div><img id="time-logo" alt="" src="/assets/clock.png" /><span id="current-time"></span></div>
	  <input id="toggle-plus" type="image" alt="" src="/assets/plus.png" />
	  <input id="toggle-minus" type="image" alt="" src="/assets/minus.png" />
	</div>

	<fieldset id="ratio-options">
	  <label id="ratio-label" for="ratio">Target -- Native Ratio</label>
	  <input type="range" id="ratio" value="0" min="0" max="100" step="25" list="steplist" />
	  <span id="ratio-val" style="font-style: normal;"></span>

	  <datalist id="steplist">
	    <option>0</option>
	    <option>25</option>
	    <option>50</option>
	    <option>75</option>
	    <option>100</option>
	  </datalist>
	</fieldset>

	<div id="gridsize-options">
	  <label id="gridsize-label">Grid Size</label>

		<div id="rows-container">
			<input type="number" id="toggle-rows" value="2" min="2" max="6" step="1.0" required>
			<span id="rows-label">Rows</span>
		    <div id="rows-btn-container">
		      <input type="image" id="row-up" alt="" src="/assets/uparrow.ico" />
		      <input type="image" id="row-down" alt="" src="/assets/downarrow.png" />
		    </div>
		</div>
	    

		<div id="cols-container">
		  <input type="number" id="toggle-cols" value="2" min="2" max="6" step="1.0" required>
		  <span id="cols-label">Cols</span>
		  <div id="cols-btn-container">
		    <input type="image" id="col-up" alt="" src="/assets/uparrow.ico" />
		    <input type="image" id="col-down" alt="" src="/assets/downarrow.png" />
		  </div>
		</div>
	</div>

	<!-- Show the currently selected deck -->
	<div id="current-deck">
		<span id="current-deck-label">Current Deck</span>
		<span id="current-deck-name"></span>
	</div>
	<!-- Either sample or user's decks -->

	<input type="reset" value="Default" class="grid-btn" id="reset">
	<input type="button" value="Generate" class="grid-btn" id="generate" onClick="renderGrid();"> 
	<!-- Render demo or selected deck. -->


	<div id="grid">
		<!-- MAIN GRID IS HERE!! -->
	</div>

	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/nav.js"></script>
	
	
