<div id="logo">
	<img src="/assets/login_logo2.png" alt="" width="100px" height="100px">
</div>

<div id="headline">
	<span>Sign In to Language Flashcards</span>
</div>

<form id="login" onSubmit="return formSubmit(this);">

	<div id="login-container">

		{{#if loginErrorMessage}}
			<div id="login-msg"><span>{{ loginErrorMessage }}</span></div>
		{{/if}}

		<label for="user">Username or email address</label>
		<input type="text" class="field" name="username" />
		<label for="pw">Password <a id="forgot" href="/">Forgot Password?</a></label>
		<input type="password" class="field" name="password" />
		<input type="submit" value="Sign In" id="submit-btn" />
		
	</div>
</form>

<div id="create-account">
	<div id="helper">
		<span>Don't have an account? <a id="register" href="/register">Register here!</a></span>
	</div>
</div>

<script type="text/javascript" src="/js/login.js"></script>