<div id="wrapper">

	<header id="header">
		<div id="title"><p>Join Us and Get Fluent!</p></div>
		<div id="heading">
			<p>Enhance the way you use flashcards to study foreign languages. Give yourself time constraints to mimic the strict expectations of real conversation, test yourself with more than one card at a time, and mix things up between your target and native language.
			</p>
		</div>
	</header>

	<div id="main">

		<div id="main-container">
			<form id="form" action="http://127.0.0.1:8080/register" method="POST" >

				<label class="label" for="user">Username</label>
				<input class="input" id="user" type="text" name="username">
				<label class="label" for="password">Password</label>
				<input class="input" id="password" type="password" name="password">
				<label class="label" for="email">E-mail Address</label>
				<input class="input" id="email" type="email" name="email">

				<input class="input" id="submit" type="submit" value="Sign Me Up!">
			</form>
			
		</div>

	</div>


</div>