#wrapper {
	position: relative;
	top: 60px;
	height: 100%;
	width: 60%;
	margin: 0 auto;
}


#header {
	position: relative;
	height: 100%;
	width: 100%;
}
	#title {
		text-align: center;
	}
		#title p {
			font-size: 50px;
			font-weight: bold;
			color: black;
			margin: 20px;
		}
	#heading {
		
	}
		#heading p {
			color: blue;
			font-size: 16px;
			padding: 10px;
			margin: 10px;
		}



#main {
	position: relative;
	height: 300px;
}

	#main-container {
		position: absolute;
		height: 100%;
		width: 100%;
	}
	#form {
		position: absolute;
		left: 0;
		top: 0;
		width: 50%;
		height: 100%;
		padding: 15px;
		border: 1px solid black;
		margin: 0 auto;
		text-align: center;
	}
		.label {
			display: block;
			margin-bottom: 5px;
		}
		.input {
			border: none;
			border-radius: 5px;
			padding: 3px;
			margin-bottom: 5px;
			height: 30px;
			width: 80%;
			display: inline-block;
		}
		.input:focus {
			outline-width: 0; 
			border: 2px solid cyan;
			border-radius: 5px;
		}
			#submit {
				position: relative;
				margin-top: 25px;
				font-weight: bold;
				border: 1px solid black;
				cursor: pointer;
				width: 50%;

			}