/* THIRD SET OF OPTIONS FOR GRID ROWS AND COLUMNS */
#gridsize-options {
  position: absolute;
  left: 360px;
  width: 150px;
  height: 90px;
  border: 3px solid black;
}
  #gridsize-label {
    position: relative;
    display: block;
    text-align: center;
    color: maroon;
    font-weight: bold;
    font-size: 14px;
  }
  
  /*Toggling grid size .. ROWS*/
  #rows-container {
    position: relative;
    border: 1px solid black;
    height: 35px;
    width: 50%;
  }
  #toggle-rows {
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
    height: 90%;
    font-weight: bold;
    font-size: 21px;
  }
    #toggle-rows::-webkit-inner-spin-button, #toggle-rows::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    #rows-btn-container {
      position: relative; 
      left: 80%;
      display: inline-block;
      height: 100%;
      width: 15px;
    }
      #row-up {
        position: absolute;
        top: 0;
        width: 15px;
        height: 15px;
        padding: 2px;
      }
      #row-down {
        position: absolute;
        bottom: 0;
        width: 15px;
        height: 15px;
        padding: 2px;
      }

  /*Toggling grid size .. COLS*/
  #cols-container {
    position: relative;
    border: 1px solid black;
    height: 35px;
    width: 50%;
  }
  #toggle-cols {
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
    height: 90%;
    font-weight: bold;
    font-size: 21px;
  }
    #toggle-cols::-webkit-inner-spin-button, #toggle-cols::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    #cols-btn-container {
      position: relative; 
      left: 80%;
      display: inline-block;
      height: 100%;
      width: 15px;
    }
      #col-up {
        position: absolute;
        top: 0;
        width: 15px;
        height: 15px;
        padding: 2px;
      }
      #col-down {
        position: absolute;
        bottom: 0;
        width: 15px;
        height: 15px;
        padding: 2px;
      }