/* THIRD SET OF OPTIONS FOR GRID ROWS AND COLUMNS */
#gridsize-options {
  position: absolute;
  left: 355px;
  width: 100px;
  height: 70px;
  border: 1px solid black;
}
  #gridsize-label {
    position: relative;
    display: block;
    text-align: center;
    color: maroon;
    font-weight: bold;
    font-size: 12px;
  }
  
  /*Toggling grid size .. ROWS*/
  #rows-container {
    position: relative;
    height: 24px;
    width: 100%;
  }
  #toggle-rows {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    height: 80%;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    border: none;
    border-radius: 3px;
  }
    #toggle-rows::-webkit-inner-spin-button, #toggle-rows::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    #rows-btn-container {
      position: absolute; 
      right: 0;
      display: inline-block;
      height: 100%;
      width: 15px;
    }
      #row-up {
        position: absolute;
        top: 0;
        width: 15px;
        height: 15px;
        padding: 2px;
      }
      #row-down {
        position: absolute;
        bottom: 0;
        width: 15px;
        height: 15px;
        padding: 2px;
      }
    #rows-label {
      display: inline-block;
      position: absolute;
      top: 5px;
      left: 10px;
      font-size: 10px;
      font-weight: bold;
      font-family: 'Arial';
      color: white;
    }

  /*Toggling grid size .. COLS*/
  #cols-container {
    position: relative;
    height: 24px;
    width: 100%;
  }
  #toggle-cols {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    height: 80%;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 3px;
  }
    #toggle-cols::-webkit-inner-spin-button, #toggle-cols::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    #cols-btn-container {
      position: absolute; 
      right: 0;
      display: inline-block;
      height: 100%;
      width: 15px;
    }
      #col-up {
        position: absolute;
        top: 0;
        width: 15px;
        height: 15px;
        padding: 2px;
      }
      #col-down {
        position: absolute;
        bottom: 0;
        width: 15px;
        height: 15px;
        padding: 2px;
      }
    #cols-label {
      display: inline-block;
      position: absolute;
      top: 5px;
      left: 10px;
      font-size: 10px;
      font-weight: bold;
      font-family: 'Arial';
      color: white;
    }